* {
    padding: 0;
    margin: 0;
}

.header {
    color: white;
    background-color: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    align-items: center;
}

.header-top-logo {
    color: #f9faf8;
    font-size: 24px;
    flex: 1 1 0;
    font-weight: 800;
}

ul {
    display: flex;
    list-style: none;
    gap: 28px;
    flex: 1 1 0;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header-bot {
    display: flex;
    padding: 100px 10px 100px 10px;
    margin: 0px 100px;
    justify-content: space-around;
}

.header-bot-left {
    flex: 1;
}

.header-bot-left-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header-bot-left-text {
    font-size: 18px;
    color: #e5e7eb;
    filter: contrast(75%);
    margin-bottom: 15px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 800;
}

.header-bot-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 200px;
    border-radius: 12px;
}

.main-content {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 25px 100px 25px 100px;
    padding: 0px 10px;

}

.main-content-header {
    font-size: 36px;
    font-weight: 800px;
    color: #1f2937;
    margin: 50px;
}

.boxes {
    color: #1F2937;
    font-size: 18px;
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 20px;
}

span {
    filter: contrast(50%);
    flex: 1;
    font-size: 16px;
}

.quote-block {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-self: center;
}
.quote-author {
    color:#1F2937;
    font-weight: 800px;
    align-self: flex-end;
}